body{
    font-family: Tahoma;
    width: 1250px;
    margin: 0px auto;
    font: 13px "Arial", Helvetica, sans-serif;
}

#menu_top {
    background:#4CD4CB;
    height: 110px;
}

#banner {
    height: auto;
    width: 1250px;
    float:left;
    font-size: 17px;

}

#main #left{
    width: 850px;
    float: left;
    min-height: 400px;
}

#main #right{
    width:400px;
    min-height: 500px;
    float:left;
}

#footer{
    background:#00C5CD;
    width:1250px;
    height: 320px;
    color: #FFF;
    clear: left;
    line-hight: 60px;
}

#menu_top ul{
    margin: 0px;
    padding:4px;
    font-size: 20px;
}

#menu_top ul li{
    list-style: none;
    float:left;
    width: 155px;
}

#menu_top ul li a {
    display: block;
    height: 100px;
    line-height: px;
    color:#FFF;
    padding: 38px 32px;
    border-right: 1px solid #f1f1f1;
    float:left;
    font-size: 15px;
}


#banner img{
    width:1250px;
    height:500px;
    border: 0px;
    box-shadow: 0px 0px 1px 0px ;
}

#main #left ul{
    margin: 0px;
    padding: 1px 4px 2px 6px;
}

#main #left ul li{
    list-style: none;
    margin-bottom: 31px;
    font-size: 17px;
}

#main{
    margin-top: 10px;
    font-size:13px;

}

#main #right{
    height:950px;
    background-color:#20D4D4;
    float:left;

}

#main #right .menu_right ul{
    margin: -14px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}

#main #right .menu_right ul li {
    list-style: none;
}

#main #right .menu_right ul li a{
    display: block;
    text-decoration: none;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    text-indent: 35px;
    color: #23527c;
}
#main #right .menu_right ul li a:hover {
    color:red;
}

#main #right .menu_right h2{
    background-color: #1b6d85;
    height: 49px;
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    text-indent: 0px;
}
#footer #footer_map1 #h2{
    background-color: #4cae4c;
    height: 80px;
    margin-top: 0px;
    text-align: center;
    float:left;
}

#footer #footer_map1 {
    float:right;
}